<%= form_with model: [@profile, @check_in] do |form| %>
  <% if @check_in.errors.any? %>
    <div>
      <h2><%= pluralize(@check_in.errors.count, "error") %> prevented this check-in from being saved:</h2>
      <ul>
        <% @check_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :checked_in_on %>
    <%= form.date_field :checked_in_on %>
  </div>

  <div>
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <h3>Upper Body Photos</h3>

  <div>
    <%= form.label :upper_front_photo, "Upper Front" %>
    <%= form.file_field :upper_front_photo %>
  </div>

  <div>
    <%= form.label :upper_back_photo, "Upper Back" %>
    <%= form.file_field :upper_back_photo %>
  </div>

  <h3>Lower Body Photos</h3>

  <div>
    <%= form.label :lower_front_photo, "Lower Front" %>
    <%= form.file_field :lower_front_photo %>
  </div>

  <div>
    <%= form.label :lower_back_photo, "Lower Back" %>
    <%= form.file_field :lower_back_photo %>
  </div>

  <div>
    <%= form.submit @check_in.persisted? ? "Update Check-in" : "Create Check-in" %>
  </div>
<% end %>