<%= form_with model: [@profile, @check_in], class: "stacked-form" do |form| %>

  <% if @check_in.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prevented this check-in from being saved:</h2>
      <ul>
        <% @check_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :checked_in_on, "Check-in Date" %>
    <%= form.date_field :checked_in_on %>
  </div>

  <div class="form-field">
    <%= form.label :notes %>
    <%= form.text_area :notes, rows: 4 %>
  </div>

  <div class="form-field">
    <%= form.label :upper_front_photo %>

    <div class="photo-upload-row">
    <%= form.file_field :upper_front_photo %>
      <% if @check_in.upper_front_photo.attached? %>
        <div class="photo-preview-wrapper">
          <span class="photo-preview-hint">
            Uploading a new photo will replace the current one
          </span>

          <%= image_tag @check_in.upper_front_photo,
              class: "photo-preview-thumbnail" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-field">
    <%= form.label :upper_back_photo %>

    <div class="photo-upload-row">
    <%= form.file_field :upper_back_photo %>
      <% if @check_in.upper_back_photo.attached? %>
        <div class="photo-preview-wrapper">
          <span class="photo-preview-hint">
            Uploading a new photo will replace the current one
          </span>

          <%= image_tag @check_in.upper_back_photo,
              class: "photo-preview-thumbnail" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="form-field">
    <%= form.label :lower_front_photo %>

    <div class="photo-upload-row">
    <%= form.file_field :lower_front_photo %>
      <% if @check_in.lower_front_photo.attached? %>
        <div class="photo-preview-wrapper">
          <span class="photo-preview-hint">
            Uploading a new photo will replace the current one
          </span>

          <%= image_tag @check_in.lower_front_photo,
              class: "photo-preview-thumbnail" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-field">
    <%= form.label :lower_back_photo %>

    <div class="photo-upload-row">
    <%= form.file_field :lower_back_photo %>
      <% if @check_in.lower_back_photo.attached? %>
        <div class="photo-preview-wrapper">
          <span class="photo-preview-hint">
            Uploading a new photo will replace the current one
          </span>

          <%= image_tag @check_in.lower_back_photo,
              class: "photo-preview-thumbnail" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit @check_in.persisted? ? "Update Check-in" : "Create Check-in" %>
  </div>

<% end %>