<%= form_with model: [@profile, @check_in], class: "stacked-form" do |form| %>

  <% if @check_in.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prevented this check-in from being saved:</h2>
      <ul>
        <% @check_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :checked_in_on, "Check-in Date" %>
    <%= form.date_field :checked_in_on %>
  </div>

  <div class="form-field">
    <%= form.label :notes %>
    <%= form.text_area :notes, rows: 4 %>
  </div>

<div class="form-field">
  <%= form.label :front_photo %>

  <div class="photo-upload-row">
    <% if @check_in.persisted? && @check_in.front_photo.attached? %>
    
      <div class="photo-preview-wrapper">
        <span class="photo-preview-hint">
          Uploading a new photo will replace the current one
        </span>

        <%= image_tag @check_in.front_photo, class: "photo-preview-thumbnail" %> 
      </div>
    <% end %>

    <%= form.file_field :front_photo %>
  </div>
</div>

<div class="form-field">
  <%= form.label :back_photo %>

  <div class="photo-upload-row">
    <% if @check_in.persisted? && @check_in.back_photo.attached? %>
      <div class="photo-preview-wrapper">
        <span class="photo-preview-hint">
          Uploading a new photo will replace the current one
        </span>

        <%= image_tag @check_in.back_photo, class: "photo-preview-thumbnail" %>
      </div>
    <% end %>

    <%= form.file_field :back_photo %>
  </div>
</div>

<div class="form-field">
  <%= form.label :side_photo %>

  <div class="photo-upload-row">
    <% if @check_in.persisted? && @check_in.side_photo.attached? %>
      <div class="photo-preview-wrapper">
        <span class="photo-preview-hint">
          Uploading a new photo will replace the current one
        </span>

        <%= image_tag @check_in.side_photo, class: "photo-preview-thumbnail" %>
      </div>
    <% end %>

    <%= form.file_field :side_photo %>
  </div>
</div>

  <div class="form-actions">
    <%= form.submit @check_in.persisted? ? "Update Check-in" : "Create Check-in" %>
  </div>

<% end %>