<h1>Check-in for <%= @profile.display_name %></h1>

<p>
  <strong>Date:</strong>
  <%= @check_in.formatted_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @check_in.notes.present? ? @check_in.notes : "No notes added." %>
</p>

<div class="page-actions">
  <div class="page-actions-left">
    <%= link_to "Add Measurement", new_profile_check_in_measurement_path(@profile, @check_in), class: "button-link" %>
    <%= link_to "View All Measurements", profile_check_in_measurements_path(@profile, @check_in), class: "button-link secondary" %>
  </div>
</div>

<hr>

<h2>Measurements</h2>

<% if @check_in.measurements.any? %>
  <ul>
    <% @check_in.measurements.order(:body_part).each do |measurement| %>
      <li>
        <%= link_to measurement.formatted_body_part, profile_check_in_measurement_path(@profile, @check_in, measurement) %> :
        <%= measurement.value %> <%= @profile.abbreviated_default_unit %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No measurements yet.</p>
<% end %>

<h2>Progress Photos</h2>

<% if @check_in.upper_front_photo.attached? ||
      @check_in.upper_back_photo.attached? ||
      @check_in.lower_front_photo.attached? ||
      @check_in.lower_back_photo.attached? %>

  <div class="photo-grid">
    <% if @check_in.upper_front_photo.attached? %>
      <div class="photo-card">
        <p><strong>Upper Front</strong></p>
        <%= image_tag @check_in.upper_front_photo, class: "progress-photo" %>
      </div>
    <% end %>

    <% if @check_in.upper_back_photo.attached? %>
      <div class="photo-card">
        <p><strong>Upper Back</strong></p>
        <%= image_tag @check_in.upper_back_photo, class: "progress-photo" %>
      </div>
    <% end %>

    <% if @check_in.lower_front_photo.attached? %>
      <div class="photo-card">
        <p><strong>Lower Front</strong></p>
        <%= image_tag @check_in.lower_front_photo, class: "progress-photo" %>
      </div>
    <% end %>

    <% if @check_in.lower_back_photo.attached? %>
      <div class="photo-card">
        <p><strong>Lower Back</strong></p>
        <%= image_tag @check_in.lower_back_photo, class: "progress-photo" %>
      </div>
    <% end %>
  </div>

<% else %>
  <p>No progress photos yet.</p>
<% end %>

<p>
  <%= button_to "Delete Check-in", profile_check_in_path(@profile, @check_in), method: :delete %>
</p>