<%= form_with model: [@profile, @check_in, @measurement], class: "stacked-form" do |form| %>
  <% if @measurement.errors.any? %>
    <div class="form-errors">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prevented this measurement from being saved:</h2>
      <ul>
        <% @measurement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :body_part %>
    <%= form.select :body_part,
        Measurement::BODY_PARTS.map { |body_part| [body_part.humanize, body_part] },
        { prompt: "Select a body part" } %>
  </div>

  <div class="form-field">
    <%= form.label :value %>
    <%= form.number_field :value, step: :any %>
  </div>

  <div class="form-field">
    <%= form.label :body_part_photo, "Body Part Photo" %>
    <%= form.file_field :body_part_photo %>
  </div>

  <div class="form-actions">
    <%= form.submit @measurement.persisted? ? "Update Measurement" : "Create Measurement" %>

    <%= link_to "Cancel",
      request.referer || profile_path(@check_in),
      class: "button-secondary" %>
  </div>
<% end %>