<!DOCTYPE html>
<html class="<%= theme_classes %>">
  <head>
    <title>BodMetriks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-body <%= theme_classes %>">
    <header class="navbar">
      <div class="navbar-inner">
        <div class="navbar-left">
          <%= link_to "BodMetriks", root_path, class: "brand-link" %>
          <%= link_to "Profiles", profiles_path, class: "nav-link #{'active' if current_page?(profiles_path)}" %>
        </div>

        <div class="navbar-right">
          <% if logged_in? %>
            <div class="desktop-nav-actions">
              <%= link_to "My Profile", profile_path(current_user.profile), class: "nav-link" %>
              <%= link_to "Settings", edit_settings_path, class: "nav-link" %>
              <%= button_to "Log Out", logout_path, method: :delete, class: "nav-link nav-button" %>
            </div>

            <div class="mobile-user-menu user-menu">
              <button class="user-menu-button" type="button" data-user-menu-button>
                ☰
              </button>

              <div class="user-menu-dropdown" data-user-menu-dropdown>
                <%= link_to "My Profile", profile_path(current_user.profile), class: "user-menu-link" %>
                <%= link_to "Settings", edit_settings_path, class: "user-menu-link" %>
                <%= button_to "Log Out", logout_path, method: :delete, class: "user-menu-link user-menu-button-link" %>
              </div>
            </div>
          <% else %>
            <div class="desktop-nav-actions">
              <%= link_to "Sign Up", signup_path, class: "nav-link" %>
              <%= link_to "Log In", login_path, class: "nav-link" %>
            </div>

            <div class="mobile-user-menu user-menu">
              <button class="user-menu-button" type="button" data-user-menu-button>
                ☰
              </button>

              <div class="user-menu-dropdown" data-user-menu-dropdown>
                <%= link_to "Sign Up", signup_path, class: "user-menu-link" %>
                <%= link_to "Log In", login_path, class: "user-menu-link" %>
              </div>
            </div>
          <% end %>
        </div>
       </div>
      </div>
    </header>

    <main class="page-shell">
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>">
          <%= message %>
        </div>
      <% end %>

      <div class="page-card">
        <%= yield %>
      </div>
    </main>
  </body>
</html>